.Phonetic {
    height: 50px;
}

.Phonetic a {
    color: white;
    padding: 7px;
    margin: 8px;
    background-color: #6a7eee;
    border: 2px solid #6a7eee;

    border-radius: 50%;
    transition: all 120ms ease-in;
}

.Phonetic a:hover {
    color: white;
    background-color: #61d4a2;
    border: 1px solid #61d4a2;
    border-radius: 50%;
}

.Phonetic .text-phonetics {
    opacity: 0.7;
    font-weight: bold;
}