.Synonyms {
    margin: 5px 0 8px;
    padding: 0;
    text-align: center;
}

.Synonyms li {
    display: inline-block;
    padding-right: 14px;
    text-align: center !important;
    padding-bottom: 0;
    line-height: 1;
    font-size: 18px;
    color: #4164bb;
}